body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.intro {
  font-size: 150%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 600%;
  line-height: 2;
  color: #55BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #55BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 2%;
  color: #11999E;
}

p {
  font-size: 1rem;
  font-family: Montserrat;
  color: #40514E;
  font-style: oblique;
  font-weight: bold;
  line-height: 2;
}

.top-container {
  position: relative;
  background-color: #E4F9F5;
  padding-top: 100px;
}

.extra-space {
  height: 50px;
}

.middle-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #E4F9F5;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 350px;
  height: 170px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
  width: 250px;
  height: 120px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.mountain-size {
  height: 50%;
  width: 80%;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.typewriter {
  color: #acc4c4;
  font-weight: normal;
  font-family: monospace;
  font-size: 300%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 50px auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .07em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 10px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

.web-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.android-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

hr {
  background-color: #E4F9F5;
  border-bottom-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: #A9A9A9;
  border-top-style: none;
  width: 10%;
  margin: 4% auto 3% auto;
  border-width: 10px;
}

.intro-bio {
  width: 40%;
  text-align: center;
  margin: auto;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #3bd0db);
  background-image: -moz-linear-gradient(top, #66BFBF, #3bd0db);
  background-image: -ms-linear-gradient(top, #66BFBF, #3bd0db);
  background-image: -o-linear-gradient(top, #66BFBF, #3bd0db);
  background-image: linear-gradient(to bottom, #66BFBF, #3bd0db);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0db2b8;
  background-image: -webkit-linear-gradient(top, #0db2b8, #3498db);
  background-image: -moz-linear-gradient(top, #0db2b8, #3498db);
  background-image: -ms-linear-gradient(top, #0db2b8, #3498db);
  background-image: -o-linear-gradient(top, #0db2b8, #3498db);
  background-image: linear-gradient(to bottom, #0db2b8, #3498db);
  text-decoration: none;
}

.bottom-space {
  margin-bottom: 4%;
}

a {
  color: white;
  font-family: 'Montserrat';
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
  font-style: normal;
}
